.destinations {
    display: grid;
    gap: 2em;
}

@media only screen and (min-width: 768px) {
    .destinations {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    .destinations {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.card {
    @extend .content-item;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: auto;

    a {
        margin-top: auto;
    }
}

.card-img-top {
    max-width: 100%;
}

article.destination-details {
    display: grid;
    grid-gap: 2em;

    .title-block {
        background-image: url(/img/locations/earth-600.jpg);
        background-repeat-x: no-repeat;
        background-position-x: center;
        background-color: black;
        padding: 10px;
    }

    > div, > aside {
        @extend .content-item;
    }

    @media only screen and (min-width: 768px) {
        grid-template-columns: 2fr 1fr;

        .title-block {
            grid-column: 1/span 2;
        }
    }
}
