.destinations {
    display: flex;
    gap: 2em;
}

.card {
    @extend .content-item;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: auto;

    a {
        margin-top: auto;
    }
}

.card-img-top {
    max-width: 100%;
}

article.destination-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;

    .title-block {
        padding: 10px;
        grid-column: 1/span 2;
        background-image: url(/img/locations/earth-600.jpg);
        background-repeat-x: no-repeat;
        background-position-x: center;
        background-color: black;
    }

    > div, > aside {
        @extend .content-item;
    }
}

