.fly-out-panel {
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    box-shadow: 5px 0px 10px -2px #888888;
    animation: fly-out-animation 0.7s ease forwards;
}

.fly-out-panel-close {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    animation: fly-out-animation-close 0.7s ease forwards;
}

@keyframes fly-out-animation {
    100% {
        left: 0px;
    }
}

@keyframes fly-out-animation-close {
    100% {
        opacity: 0;
        left: -50%;
        display: none;
        visibility: none;
    }
}
