.fly-out-panel > .k-animation-container {
    height:100%;
    overflow: visible;
}

.fly-out-panel > .k-animation-container > div {
    width: 100%;
    background-color: white;
    box-shadow: 5px 0px 10px -2px #888888;
}

.fly-out-panel .k-window-titlebar {
    border-radius: 0;
}