#trip-empty-state {
            margin-top: 14%;

    .trip-empty-state-content {
        @include media-breakpoint-up(md) {
            width: 50% !important;
        }

        @include media-breakpoint-up(xl) {
            width: 25% !important;
        }
    }
}

.trip-configuration {
    background-color: transparent;
    padding-top:2em;

    .title {
        font-size: 1em;
        color: $vintage-cream;
    }

    .text {
        color: $accent;

        .primary {
            font-weight: bold;
            display: block;
            color: $secondary;
            font-size: 1.5em;
            font-family: 'Orbitron';
        }

        .meta {
            display: block;
            font-size: 1.2em;
        }
    }
}

@include media-breakpoint-up(md) {
    .trip-configuration {
        padding-top: 4em;

        .title {
            font-size: 1.2em;
        }

        .text {

            .primary {
                font-size: 2.5em;
            }

            .meta {
                font-size: 2em;
            }
        }
    }
}

.t-days, .t-hours, .t-minutes, .t-seconds {
    font-weight: bold;
    font-size: 1.25em;
    color: $secondary;
    font-family: 'Orbitron';

    @include media-breakpoint-up(md) {
        font-size: 2.5em;
    }
}

.t-seperator {
    font-size: 1.25em;
    color: $body-bg;
    font-weight: bold;
    font-family: 'Orbitron';

    @include media-breakpoint-up(md) {
        font-size: 2.5em;
    }
}

.tt-days, .tt-hours, .tt-minutes, .tt-seconds {
    font-size: 1.25em;
    color: $secondary;
    font-weight: bold;
    font-family: 'Orbitron';

    @include media-breakpoint-up(md) {
        font-size: 2.5em;
    }
}

.tt-seperator {
    font-weight: bold;
    font-size: .5em;
    color: $body-bg;
    font-family: 'Orbitron';

    @include media-breakpoint-up(md) {
        font-size: 1em;
    }
}
