@page "/"

<div class="container">
    @if (totalPrice > 0)
    {
        <TripOverview TripConfiguration="TripConfiguration" TotalPrice="totalPrice">
            <ButtonTemplate>
                <TelerikButton OnClick="ShowConfigurationPanel">Edit Trip</TelerikButton>
                <TelerikButton Class="k-primary">Book Now</TelerikButton>
            </ButtonTemplate>
        </TripOverview>
    }
    else
    {
        <TripEmptyState>
            <ButtonTemplate>
                <TelerikButton OnClick="ShowConfigurationPanel" Class="btn btn-block btn-lg k-primary">New Trip</TelerikButton>
            </ButtonTemplate>
        </TripEmptyState>
    }
</div>
<FlyoutPanel @ref="ConfigurationPanel">
    <TitleTemplate>
        Trip Options
    </TitleTemplate>
    <ContentTemplate>
        <EditForm Model="TripConfiguration" OnValidSubmit="@OnTripEstimateTripCost"
                  OnInvalidSubmit="@InvalidSubmit">
            <DataAnnotationsValidator />

            <TripConfigurationForm ViewModel="TripConfiguration"></TripConfigurationForm>

            <div class="form-group">
                <TelerikButton Class="btn btn-block btn-lg k-primary">Estimate Trip Cost</TelerikButton>
            </div>

        </EditForm>
    </ContentTemplate>
</FlyoutPanel>