#trip-empty-state {
	@extend .content-item;
	grid-column: 2 / span 1;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	height:max-content;

	h1 {
		font-family: Yesteryear;
		color: $primary;
	}
}
