.trip-configuration {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "time" "dept" "dist" "price" "book";
    grid-template-rows: max-content;
    height: max-content;
    gap: 1rem;
    padding: 0 1rem;
}



@keyframes bg-scrolling-reverse {
    100% {
        background-position-y: center;
        background-position-x: 20px;
    }
}

.trip-configuration-item {
    @extend .content-item;
    padding: 1rem;

    &.time {
        grid-area: time;
    }

    &.price {
        grid-area: price;
    }

    &.dept {
        grid-area: dept;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    &.dist {
        grid-area: dist;
    }

    &.book {
        grid-area: book;
    }

    .title {
        line-height: var(--line-height-xs);
        font-size: var(--font-size-h5);
        color: $vintage-cream;
    }

    .text {
        color: $accent;

        .primary {
            line-height: var(--line-height-sm);
            font-size: var(--font-size-h4);
            font-weight: bold;
            display: block;
            color: $secondary;
            font-family: 'Orbitron';
        }

        .meta {
            line-height: var(--line-height-sm);
            font-size: var(--font-size-h6);
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) {
    .trip-configuration {
        grid-column: 2 / span 1;
    }
}

@media only screen and (min-width: 1024px) {
    .trip-configuration {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "time time time" "dept dept price" "dist dist book";
    }

    .trip-configuration-item {

        .title {
            line-height: var(--line-height-sm);
            font-size: var(--font-size-h4);
            color: $vintage-cream;
        }

        &.dept {
            grid-area: dept;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:0;

            .from {
                background-image: radial-gradient($accent 20%, transparent 10% );
                background-position-y: center;
                background-position-x: left;
                background-size: 20px 20px;
                background-repeat-y: no-repeat;
                animation: bg-scrolling-reverse .5s linear infinite;
            }
        }

        .text {
            color: $accent;

            .primary {
                line-height: var(--line-height-lg);
                font-size: var(--font-size-h2);
                font-weight: bold;
                display: block;
                color: $secondary;
                font-family: 'Orbitron';
            }

            .meta {
                line-height: var(--line-height-sm);
                font-size: var(--font-size-h6);
                display: block;
            }
        }
    }
}

.calendar-page {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    grid-auto-rows: max-content;
}

.calendar-page > p {
    display: block;
    background-color: $accent;
    text-align: center;
    font-size: 1.2em;
    padding: 0 2rem;
    margin: 0;
    color: black;
}

.calendar-page > p:nth-child(even) {
    background: transparent;
    color: $accent;
    border: 3px solid $accent;
    font-size: 4em;
    line-height: initial;
}

.calendar-page > p:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.t-days, .t-hours, .t-minutes, .t-seconds {
    font-weight: bold;
    font-size: 1.25em;
    color: $secondary;
    font-family: 'Orbitron';
}

.t-seperator {
    font-size: 1.25em;
    color: $body-bg;
    font-weight: bold;
    font-family: 'Orbitron';
}

.tt-days, .tt-hours, .tt-minutes, .tt-seconds {
    font-size: 1.25em;
    color: $secondary;
    font-weight: bold;
    font-family: 'Orbitron';
}

.tt-seperator {
    font-weight: bold;
    font-size: 1em;
    font-family: 'Orbitron';
}