#trip-empty-state {
    @extend .content-item;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    height: max-content;

    h1 {
        font-family: Yesteryear;
        color: $primary;
    }

    margin: 0 1rem;
}

@media only screen and (min-width: 768px) {
    #trip-empty-state {
        grid-column: 2 / span 1;
        margin: 0;
    }
}
