@layout BlogPostLayout
@page "/admin/index"

<TitleBlock Title="Admin Index" />

<div class="container no-bg pt-5">
    <div class="row">
        <div class="col">
            <div class="list-group">
                <a class="list-group-item" href="/admin/destinations">Manage Destinations</a>
                <a class="list-group-item" href="/admin/ports">Manage Ports</a>
            </div>
        </div>
    </div>
</div>