@page "/admin/index"

<h3>Admin Index</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/admin/destinations">Manage Destinations</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/ports">Manage Ports</a>
    </li>
</ul>
