@page "/admin/index"


<div id="admin-menu">
    <h1>Main Menu</h1>
    <ul class="list-group">
        <li>
            <a class="list-group-item" href="/admin/destinations">Manage Locations</a>
        </li>
        <li>
            <a class="list-group-item" href="/admin/ports">Manage Ports</a>
        </li>
        <li>
            <a class="list-group-item" href="/admin/ml">Prediction Engine Status</a>
        </li>
    </ul>
</div>