.ml-stats {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:2em;

    .title-block {
        grid-column: 1/ span 2;
    }

    .list-group-item {
        display: block;
        padding: 1em;
        border: 1px solid rgba( 255, 255, 255, 0 );
        font-size: var(--font-size-h5);
        line-height: var(--line-height-sm);

        .data {
            color: $accent;
            font-weight:bold;
        }
    }
}

.k-chart > svg > g > path[fill="rgb(255, 255, 255)"] {
    fill: transparent;
}

.k-chart text {
    fill: $vintage-cream;
}

.k-chart > svg > g > g > g > path {
    stroke: $accent;
}
