@using System.Threading

<span class="t-days">@timeSpan.Days</span>
<span class="t-seperator">:</span>
<span class="t-hours">@timeSpan.Hours</span>
<span class="t-seperator">:</span>
<span class="t-minutes">@timeSpan.Minutes</span>
<span class="t-seperator">:</span>
<span class="t-seconds">@timeSpan.Seconds</span>

@code {

    TimeSpan timeSpan;

    [Parameter] public DateTime CountdownTo { get; set; }

    protected override void OnParametersSet()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            timeSpan = CountdownTo - DateTime.Now;
            InvokeAsync(StateHasChanged);
        }), null, 1000, 1000);
    }
}