<div class="row h-50">
    <div class="col-sm-12 my-auto">
        <div class="w-25 mx-auto">
            <h1 class="intro text-center">Launch your next adventure.</h1>
            @ButtonTemplate
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment ButtonTemplate { get; set; }
}
