<div class="row h-100">
    <div class="col-sm-12 my-auto">
        <div class="w-25 mx-auto">
            <h3 class="text-center">Launch your next adventure.</h3>
            @ButtonTemplate
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment ButtonTemplate { get; set; }
}
