@namespace BlazePort.Pages.Home
<div id="trip-empty-state">
    <h1 class="intro text-center">Launch your next adventure.</h1>
    @ButtonTemplate
</div>

@code {
    [Parameter] public RenderFragment ButtonTemplate { get; set; }
}