.masonry {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-height:800px;
    & > div {
        margin: 0 8px 8px 0;
    }
}

@include media-breakpoint-up(sm) {
    .masonry > div {
        width: 33.33333%;
    }
}