@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="blazeport-nobg">
        <div class="container-fluid">
            <NavMenu />
        </div>
        @Body
    </div>
</TelerikRootComponent>