@layout MainLayout
@inherits LayoutComponentBase

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            @Body
        </div>
    </div>
</div>