<header class="row site-header">
    <div class="col-md-5 col-sm-12 logo-area">
        <NavLink href="" Match="NavLinkMatch.All">
            <h1>BlazePort</h1>
        </NavLink>
    </div>
    <nav class="col-md-7 col-sm-12">
        <div class="site-nav">
            <ul>
                <li>
                    <NavLink class="nav-link" href="destinations">
                        Destinations
                    </NavLink>
                </li>
                <li><a href="https://github.com/EdCharbeneau">GitHub</a></li>
                <li><a href="https://twitch.tv/edcharbeneau">Twitch</a></li>
            </ul>
        </div>
    </nav>
</header>