    <div class="title-block" style="@backgroundUrl">
            <h1>
                @Title
            </h1>
        @ChildContent
    </div>

@code {
    string backgroundUrl => String.IsNullOrWhiteSpace(BackgroundUrl) ?
        String.Empty : $"background-image:url(/img/locations/{BackgroundUrl})";

    [Parameter] public string Title { get; set; }
    [Parameter] public string BackgroundUrl { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}