@page "/"
@namespace BlazePort.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazePort</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Muli|Orbitron|Yesteryear&display=swap" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="css/site.min.css" />
    </environment>
    <script src="_content/BlazorSize/blazorSize.js"></script>
    <script src="_content/telerik.ui.for.blazor/js/telerik-blazor.js" defer></script>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>