@layout CenteredContentLayout
@page "/destination/{Id:int}"
@using Data;
@inject BlazePortContext dbContext

<div class="container pt-5">
    <div class="destination">
        @if (location == null)
        {
            <span>Loading...</span>
        }
        else
        {
            <h1>@location.Name</h1>
            <img src="@location.ImageUrl" />
            <p>@location.Description</p>
            <ol>
                @foreach (var port in location.Ports)
                {
                    <li><a href="/port/@Id/@port.Id">@port.Name</a></li>
                }
            </ol>
        }
    </div>
</div>

@code {

    [Parameter] public int Id { get; set; }

    LocationDetails location;

    protected override async Task OnInitializedAsync()
    {
        // Not yet supported by EF.Cosmos
        //location = await dbContext.Locations.Include(p=>p.Ports).FirstAsync(l => l.Id == Id);
        location = await dbContext.Locations.FirstAsync(l => l.Id == Id);
    }

}
