@layout CenteredContentLayout
@page "/destination/{Id:int}"
@using Data;
@using GenFu;


<h1>@location.Name</h1>
<img src="@location.ImageUrl" />
<p>@location.Description</p>
<ol>
    @foreach (var port in location.Ports)
    {
        <li><a href="/port/@port.Id">@port.Name</a></li>
    }
</ol>

@code {

[Parameter] int Id { get; set; }

LocationDetails location;

protected override void OnInit()
{
    A.Configure<LocationDetails>()
        .Fill(ld => ld.Ports, () => A.ListOf<PortDetails>(20));

    location = A.New<LocationDetails>();
}

}
