@layout CenteredContentLayout
@page "/ports"

@using GenFu;

@using Data;

<h3>Destinations</h3>

<div class="card-columns">
    @foreach (var port in ports)
    {
        <div class="card">
            <img class="card-img-top" src="@port.ImageUrl" />
            <div class="card-body">
                <h4 class="card-title">
                    @port.Name
                </h4>
                <p class="card-text">
                    @port.Description
                </p>
                <a href="/port/@port.Id" class="card-link">View Details</a>
            </div>
        </div>
    }
</div>
@code {

    PortDetails[] ports;

    protected override void OnInit()
    {
        //Locations = locationService.GetLocations().ToArray();
        A.Configure<PortDetails>()
            .Fill(ld => ld.Description)
            .AsLoremIpsumWords(50)
            .Fill(ld => ld.ImageUrl, () => "http://placehold.it/600x150");

        ports = A.ListOf<PortDetails>(50).ToArray();
    }

}
