<div class="d-flex">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="destinations">
        Destinations
    </NavLink>
</div>