@using Telerik.Blazor.Components.AnimationContainer

<div style="position: absolute; top: calc(50% - 100px); left: calc(50% - 150px)">
    <TelerikAnimationContainer @ref="@AnimationContainer" Width="300px" Height="200px" AnimationType=@AnimationType.Fade>
        <div class="k-widget k-popup k-notification k-notification-@Theme">
            <div class="notification-content">
                <h3>@Title</h3>
                @ChildContent
            </div>
        </div>
    </TelerikAnimationContainer>
</div>

@code {

    public TelerikAnimationContainer AnimationContainer { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
                
    [Parameter] public string Title { get; set; }
                
    [Parameter] public string Theme { get; set; }

    public async Task Show()
    {
        await AnimationContainer.ShowAsync();
        StateHasChanged();

        await Task.Delay(2000);

        await AnimationContainer.HideAsync();
        StateHasChanged();
    }
}
