<article class="planet-wrap planet-wrap--@planetName" style="@Style">
    <div class="planet-wrap__planet">
        <div class="planet__atmosphere">
            <div class="planet__surface"></div>
        </div>
    </div>
</article>

@code {
    
    [Parameter] public string Name { get; set; }
    [Parameter] public string Size { get; set; }

    // TODO: Refactor, this is a temporary fix
    string planetName => Name.Contains("Moon") ? "moon" : Name.ToLowerInvariant();
    string Style => StyleBuilder.Empty()
        .AddStyle("--planet-size", Size, when: !string.IsNullOrWhiteSpace(Size))
        .NullIfEmpty();
}