@import "variables";
@import "vendors";
@import "components/all";

// TODO: Refactor to modules

h1, h2, h3, .h1, .h2, .h3 {
    color: $accent;
    font-family: 'Orbitron';
}

.k-window-title {
    font-family: 'Orbitron';
}

.intro {
    font-family: Yesteryear;
    text-shadow: 2px 2px #13405d;
    border-bottom: 1px solid;
    margin-bottom: .5em;
}

.validation-message {
    @extend .text-danger;
}

.k-datepicker {
    width:100%;
}

