$deep-space-blue: #13405d;
$blazing-blue: #42c7c2;
$bus-stop-orange: #f18918;
$vintage-cream: #f2eabc;

$base-theme:Bootstrap;
$skin-name:BlazePort;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: $blazing-blue;
$secondary: $bus-stop-orange;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: $vintage-cream;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: $deep-space-blue;
$card-cap-color: #e4e7eb;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;


// Windows and Flyouts

$window-titlebar-text: $card-cap-color;
$window-titlebar-bg: $deep-space-blue;
$window-titlebar-border: $bus-stop-orange;