<div class="trip-configuration-item dist">
    <h2 class="title">
        Your trip will take
    </h2>
    <p class="text">
        <TripTime TripDistance="TripConfiguration.TripDistance" />
        <span class="meta">@TripConfiguration.FormattedMiles</span>
    </p>
</div>

@code {
    [Parameter] public TripConfigurationModel TripConfiguration { get; set; }
} 