<div class="trip-configuration-item price">
    <h2 class="title">
        Estimated price
    </h2>
    <p class="text">
        <span class="primary">@TotalPrice.ToString("C0")</span>
        <span class="meta">Per Passenger</span>
        <PassengerCount Count="TripConfiguration.PassengerCount" />
    </p>
</div>

@code {
    [Parameter] public TripConfigurationModel TripConfiguration { get; set; }
    [Parameter] public float TotalPrice { get; set; }
}